.index-container {
  margin: auto;
  max-width: 1000px;
  margin-top: 10vh;
  padding: 0 30px;
}

.airlines-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: #e3c0ff;
}

.airlines-card-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative
}

.airlines-card-container a {
  text-decoration: none;
  color: inherit;
}

.airlines-card {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ead0ff;
  border: 1px;
  color: #3e3e3e;
  font-size: 12px;
}

.airlines-card:hover {
  color: #6fffdf !important;
  background-color: #3e3e3e;
}

.airlines-card:hover .airlines-card-img {
  filter: sepia(1);
}

.airlines-card-name {
  text-align: center;
}

.airlines-card-img {
  max-width: 150px;
  margin-top: 20px;
  border-radius: 50%;
  height: 150px;
  object-fit: contain;
  filter: grayscale(1);
}

.button-back-index {
  border: 1px solid transparent;
  background-color: white;
  color: #3e3e3e !important;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 10px;
  letter-spacing: 2px;
  opacity: 1;
  cursor: pointer;
  max-width: 150px;
  text-decoration: none;
}

.button-back-index:hover {
  color: white !important;
  background-color: #3e3e3e;
}
