.show-page-container {
  margin: auto;
  max-width: 1000px;
  margin-top: 100px;
  padding: 0 30px;
}

.show-card {
  margin-top: 30px;
  max-width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}

.airlines-show-card-img {
  max-width: 300px;
  margin-top: 40px;
  border-radius: 50%;
  max-height: 220px;
  object-fit: contain;
}

.display-flex-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}

.show-reviews-card {
  margin-top: 30px;
  max-width: 600px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative
}

.reviews-display-flex {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.review-item {
  border-radius: 10px;
  background-color: rgb(24, 19, 24);
  padding: 15px 15px;
  color: white;
  font-weight: 200;
  width: 280px;
}

.review-input {
  border-radius: 10px;
  background-color: #ccffb6;
  padding: 15px 15px;
  color: rgb(24, 19, 24);
  font-weight: 200;
  width: 280px;
  text-align: center;
}

.review-description {
  opacity: 0.6;
  font-weight: 100;
}

.add-review-button {
  position: absolute;
  border: 1px solid rgb(24, 19, 24);
  background-color: white;
  color: #000B14 !important;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  opacity: 1;
  margin: 20px 0 0px 0;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 70px;
  text-decoration: none;
  left: 20px;
}

.add-review-button:hover {
  color: white !important;
  background-color: rgb(24, 19, 24);
}

.title-score-container {
  display: flex;
  justify-content: space-between;
}
