.show-page-container {
  margin: auto;
  max-width: 1000px;
  margin-top: 5vh;
  padding: 0 30px;
}

.show-card {
  margin-top: 20px;
  max-width: 600px;
  height: 450px;
  background-color: #ead0ff;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
  color: #3e3e3e;
}

.airlines-show-card-img {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  border-radius: 50%;
  max-height: 200px;
  object-fit: contain;
  filter: grayscale(1);
  padding: 25px;
  margin-bottom: 20px;
  background-color: white;
}

.display-flex-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
}

.show-reviews-card {
  margin-top: 20px;
  max-width: 600px;
  min-height: 440px;
  min-width: 250px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  background-color: #f5ff80;
  border: 1px;
}

.reviews-display-flex {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
  width: 100%;
}

.review-item {
  border-radius: 10px;
  background-color: #3e3e3e;
  padding: 15px 15px;
  color: white;
  font-weight: 200;
  width: calc(100% - 30px);
  position: relative;
  margin-top: 10px;
}

.review-input {
  border-radius: 10px;
  background-color: #ffbc94;
  padding: 15px 15px;
  color: #3e3e3e;
  font-weight: 200;
  width: calc(100% - 30px);
  text-align: center;
}

.review-description {
  opacity: 0.6;
  font-weight: 100;
}

.add-review-button {
  position: absolute;
  border: 1px solid transparent;
  background-color: white;
  color: #3e3e3e !important;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 10px;
  letter-spacing: 2px;
  opacity: 1;
  margin: 20px 0 0px 0;
  cursor: pointer;
  margin-bottom: 20px;
  max-width: 70px;
  text-decoration: none;
  left: 20px;
}

.add-review-button:hover {
  color: white !important;
  background-color: #3e3e3e;
}

.title-score-container {
  display: flex;
  justify-content: space-between;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.delete-review {
  position: absolute;
  color: #3e3e3e;
  right: -8px;
  top: -10px;
  border-radius: 50%;
  background-color: #fea891;
  border: 1px;
  z-index: 50;
  cursor: pointer;
  transform: scale(1.2);
  padding: 0.5px 4.5px 2px 6px;
  border: 2px solid #3e3e3e;
}

.reviews-section-title {
  color: #3e3e3e;
}

.plus-rotate {
  transform: rotate(45deg);
}
